*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  margin: 0;
  font-size: 1.3 rem;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  color: #f52878;
  padding-left: 50px;
}

.box {
  font-size: 1.3rem;
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  padding-top: 50px;
}

.box-child {
  background-color: #fee9f1;
  width: 30%;
  margin: 0 auto;
  border-radius: 16px;
}
.lista {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-child2 {
  width: 60%;
  margin: 0 auto;
  line-height: 1.5;
}
.title {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80px;
  color: #f52878;
}
li {
  font-size: 1 rem;
  padding-left: 32px;
  list-style: none;
}
.ingredients {
  font-weight: bold;
}
ol {
  color: #f52878;
  font-weight: bold;
}
ul {
  color: black;
  font-weight: lighter;
}
.container-title {
  height: 100vh;
  /* background-image: url("images/img83252.768x512.jpg"); */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.container-overlay {
  background-color: rgb(251, 251, 251, 0.4);
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.pink-side {
  background-color: #f52878;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 0 auto;

  color: white;
}
#btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #f52878;
  border-radius: 25px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 600;
}
#btn-white:hover {
  background-color: #e9e9e9;
}
.box-third {
  width: 80%;
  max-width: none;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}
.first {
  text-align: center;
  margin-top: 50px;
  background-color: #f6f7f8;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.col {
  width: 100%;
}
.col + .col {
  margin-left: 100px;
}
.recipes {
  height: 250px;
  width: 300px;
}
.recipes-title {
  margin-right: 50px;
  font-size: 24px;
}

footer {
  margin-top: 50px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fee9f1;
  background-color: black;
}
.footer-list {
  padding-left: 0;
  color: #fee9f1;
  line-height: 2rem;
}
.footer-list li {
  padding-left: 0;
}
.footer-link {
  color: #f52878;
}
.veganuary {
  font-size: calc(1.375rem + 1.5vw);
  line-height: calc(40 / 40);
}
.p-veganuary {
  margin-bottom: 50px;
  font-size: calc(1.2625rem + 0.15vw);
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #f52878;
}
.see-full-recipe {
  border-radius: 20px;
  border: solid #f52878 1px;
  color: white;
  background-color: #f52878;
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.see-full-recipe a {
  text-decoration: none;
  color: white;
}
