*,*::before , *::after{
  box-sizing: border-box;

}
body{
 font-family: "Roboto", sans-serif;
 margin: 0;
 font-size: 1.3rem;
}
img {
  max-width: 100%;

}
h1{
  font-size: 3rem;
}
.box{
font-size: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.603) 0px 4px 12px 0px;
  margin: 0 auto;

  max-height: 200px;

}


.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;

}
.nav-item {
  padding: 2rem;
  font-size: larger;
}

.header-link {
  color:darkblue;
  text-decoration: none;
  font-family: Akaya Telivigala, cursive;
  font-size: larger;
}
.header-link:hover {
  text-decoration: underline;
  color: aqua;
}
.title {
  font-family: Akaya Telivigala, cursive;
  color: red;
  justify-content: center;
  display: flex;
  font-size: 80px ;
  padding: 1rem;
}

.container  {
width: 80%;
max-width:none;
margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;

}
.first{
  text-align: center;
}
.second{
position: relative;
display: flex;
text-align: center;
padding: 3rem 0;
color: white;

}
.container2{
  position: absolute;
  justify-content: center;

}


.col {
width: 100%;

}

.col + .col {
  margin-left: 100px;
}
.home-photo{
  width: 100%;
}

.pic-bg1{
  width: 100%;
  order: -1;
}
.scris{
  padding: 2rem;
  justify-content: center;

}
.see-full-recipe{
  border-radius: 20px;
  border: solid springgreen 1px;
  color: aquamarine;
  background-color: cadetblue;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

}

.see-full-recipe:hover{
  background-color: chocolate;
}

.main-text{
width: 62%;
}
.sidebar{
  width: 32%;
  text-align: center;
}
