*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

h1 {
  font-size: 3rem;
}

.box {
  display: flex;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border-width: 1px;
  margin: 0 auto;
  height: 100px;
  justify-content: space-around;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  padding: 1rem;
  font-size: larger;
}

.header-link {
  color: darkblue;
  text-decoration: none;
  font-family: Akaya Telivigala, cursive;
  font-size: larger;
}

.header-link:hover {
  text-decoration: underline;
  color: aqua;
}

.title {
  font-family: Akaya Telivigala, cursive;
  color: red;
  justify-content: center;
  display: flex;
  font-size: 80px;
  padding: 1rem;
}

.container {
  width: 80%;
  max-width: none;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 576px) {
  .box {
    display: contents;
  }
  .logo {
    width: 120px;
    height: 40px;
    max-width: 60%;
  }
  .home-photo {
    max-height: 300px;
  }
  .row {
    flex-direction: column;
  }
  .nav-item {
    padding: 0.8rem;
  }
  .nav-list {
    font-size: 0.6rem;
    padding-left: 0;
    padding-right: 0;
  }
  .title {
    font-size: 30px;
    padding: 0.5rem;
  }
  .col {
    margin-left: 10px;
  }

  .first {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  .box {
    display: contents;
  }
  .logo {
    margin-top: 16px;
    margin-left: 16px;
    width: 120px;
    height: 40px;
    max-width: 80%;
  }

  .row {
    flex-direction: column;
  }
  .nav-item {
    padding: 0.5rem;
  }

  .title {
    font-size: 40px;
  }
  .col {
    margin-left: 0;
  }
  .sidebar {
    max-width: 32%;
    text-align: center;
    margin-top: 50px;
  }
}
.first {
  text-align: center;
}

.second {
  position: relative;
  display: flex;
  text-align: center;
  padding: 3rem 0;
  color: white;
}

.container2 {
  position: absolute;
  justify-content: center;
}

.col {
  width: 100%;
}

.col + .col {
  margin-left: 100px;
}

.home-photo {
  height: 620px;
  width: 100%;
}

.scris {
  padding: 2rem;
}

.see-full-recipe {
  border-radius: 20px;
  border: solid springgreen 1px;
  color: aquamarine;
  background-color: cadetblue;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.see-full-recipe:hover {
  background-color: chocolate;
}

.main-text {
  width: 62%;
}

.sidebar {
  max-width: 32%;
  text-align: center;
  margin-top: 50px;
  padding-left: 150px;
}

.recipes {
  height: 150px;
  width: 250px;
}

.vegan-veggie {
  height: 620px;
  width: 100%;
}

.main-title {
  text-align: center;
  color: brown;
}
